@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 100% 20%;
    --card: 0 0% 100%;
    --card-foreground: 210 100% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 20%;
    --primary: 210 100% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 66%;
    --muted-foreground: 0 0% 100%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 16 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 66%;
    --input: 0 0% 66%;
    --ring: 210 100% 50%;
    --chart-1: 210 100% 20%;
    --chart-2: 210 100% 50%;
    --chart-3: 120 61% 50%;
    --chart-4: 16 100% 50%;
    --chart-5: 0 0% 66%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 100% 20%;
    --foreground: 0 0% 100%;
    --card: 210 100% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 210 100% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 210 100% 20%;
    --secondary: 210 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 66%;
    --muted-foreground: 0 0% 100%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 16 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 66%;
    --input: 0 0% 66%;
    --ring: 210 100% 50%;
    --chart-1: 210 100% 20%;
    --chart-2: 210 100% 50%;
    --chart-3: 120 61% 50%;
    --chart-4: 16 100% 50%;
    --chart-5: 0 0% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
